
* {
	font-family: Lato, sans-serif;
}

::selection {
  background: silver; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: silver; /* Gecko Browsers */
}

body {
	margin: 0;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: rgba(255,255,255, .94);
	height: 75px;
	z-index: 98;
	flex-flow: column nowrap;
}

#nav {
	margin: auto;
	width: 55%;
	min-width: 1000px;
	z-index: 99;
}

#logo {
	padding: 10px;

}

#right {
	float: right;
}

span a {
	padding: 20px;
	text-decoration: none;
	color: gray;
	padding: 22px;
	font-size: 20px;
	position: relative;
	top: 25px;
}

#orange:hover {
	color: #ffaa21;
}
#green:hover {
	color: #74ab85;
}
#purple:hover {
	color: #8466c2;
}
#red:hover {
	color: #db332f;
}


section {
	height: 200vh;
	width: 99.84%;
}

.summary {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
	height: 300px;
	margin-top: 75px;
	background-image: url("../Images/red-background.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.unit-deals {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
	height: 350px;
	background-color: white;
    background-size: cover; 
}

.unit-deals div {
	width: 200px;
	min-width: 10%; 
	height: 150px;
	background-color: red;
	overflow: hidden;
	box-shadow: 5px 10px #888888;
	border-radius: 5px;
}


.unit-deals div:hover  {
    -ms-transform: scale(1.1, 1.1) !important; /* IE 9 */
    -webkit-transform: scale(1.1, 1.1) !important; /* Safari */
	transform: scale(1.1, 1.1) !important;
	cursor:pointer !important;
}

.unit-deals h1{
	font-size: 40px;
	font-weight: 200;
	margin: 15px 0px 0px;
}

.unit-deals h2{
	font-size: 35px;
	font-weight: 200;
	margin: 10px 0px 0px;
}
.unit-deals h3{
	font-size: 15px;
	font-weight: 200;
	margin: 0px 0px 0px;
}

.unit-deals small{
	font-size: 15px;
	color: lightgrey;
	font-weight: 200;
}

.unit-deals div:nth-child(2) {
	margin: 5%;
}

#directions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: #888888;
}

#dInput {
	width: 500px;
	height: 40px;
	margin-left: 10px;
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
	border-radius:  4px;
	font-size: 18px;
	color: gray;
	padding-left: 10px;
}

#dButton {
	width: 140px;
	height: 44px;
	margin-right: 10px;
	background-color: #db332f;
	font-size: 19px;
	color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
	margin-left: 10px;
}

#dButton:hover {
	transform: scale(1.04);
	background-color: darkred;
	transition: .2s;
}

 #map {
        height: 400px; 
        width: 500px;  
}

#contact2 {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #222222;
	border: 1px solid #555555;
}


#info {
	display: flex;
	flex-flow: column nowrap;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 18px;
}

#info span {
	margin: 20px;
	color: rgb(230,230,230);
}

 #footer {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color: #b3b3b3;
 	width: 100%;
 	background-color: #333333;
 	border: 1px solid #333333;
 }

.contact-dividor {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
	height: 200px;
	background-color: #888888;
    background-size: cover;
    opacity: 0;
	transition: opacity 1000ms;

}

.contact-dividor div {
	display: flex;
	width:300px;
	height: 200px;
	min-width: 10%;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.contact-dividor div:nth-child(2) {
	margin:2%;
}

.contact-dividor div:nth-child(3) {
	margin-right:3%;
}

.contact-dividor h1 {
	margin-left: 10px;
	font-size: 22px;
	font-weight: 400;
}

.contact-dividor h2 {
	font-size: 30px;
	font-weight: 400;
}

#unit1 {
	transform: translateY(500px);
    transition: opacity 500ms, transform 1000ms;
    transition-timing-function: cubic-bezier(.19,1.32,.5,1);
}
#unit2 {
	transform: translateY(500px);
    transition: opacity 500ms, transform 1000ms;
    transition-timing-function: cubic-bezier(.19,1.32,.5,1);
}
#unit3 {
	transform: translateY(500px);
    transition: opacity 500ms, transform 1000ms;
    transition-timing-function: cubic-bezier(.19,1.32,.5,1);
}


#flex-words {
	width: 45%;
}

#flex-words h1 {
	font-size: 50px;
	font-weight: 400;
	opacity: 0;
	transition: opacity 400ms;
}

#flex-words h2 {
	font-size: 25px;
	font-weight: 200;
	margin-top: -15px;
	opacity: 0;
    transform: translateY(50px);
    transition: opacity 500ms, transform 2000ms;
    transition-timing-function: cubic-bezier(.19,1.32,.5,1);
}

#flex-words a {
	font-size: 30px;
	font-weight: 200;
	margin-top: 10px;
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 500ms, transform 2000ms;
    transition-timing-function: cubic-bezier(.19,1.32,.5,1);
}

#flex-words a:hover {
	background-color: white;
    color: grey;
}

.box-container {
	height: 600px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.box {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}


 .more-info {
	 width: 80%;
	 margin-top: -80px; 
 }

 .more-info h1 {
	font-size: 45px;
	font-weight: 300;
	color: #333333;	
}

.information {
	width: 80%;
	margin-top: 100px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info {
	height: 300px;
	margin-top: -100px;
	display: flex;
	flex-flow: column nowrap;
	margin-right: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info img {
	margin-top: -50px;
}

.info h1 {
	font-size: 30px;
	font-weight: 400;
	color: #333333;
	margin-top: -50px;
	
}

.info a {
	text-decoration: none;
}



.info p {
	font-size: 20px;
	font-weight: 400;
	color: #666666;
	margin-top: -10px;
}

 /* reviews + contact for each page  */

#menushow {
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 0vh;
	width: 0%;
	background-color: white;
	z-index: 100;
	transition: 0.5s;
	-webkit-box-shadow: 0 0 15px gray;
    box-shadow: 0 0 15px gray;
    overflow: scroll;
}

#menushow a div {
	flex: 1 auto;
	font-size: 20px;
	margin-left: 10px;
	text-align: center;
	padding: 50px;
	-webkit-box-shadow: 0 0 15px gray;
    box-shadow: 0px 15px 10px -15px #111;
    color: rgb(102, 102, 102);
	padding: 30px;
}

#right input {
	display: none;
	background-color: transparent;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 101;
	margin-right: 10px;
}

#X {
	font-weight: bold;
	margin: 10px;
	margin-bottom: 20px;
}

#X:hover {
	font-size: 20px;
	color: red;
	cursor: pointer;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1000px) {
	.information {
		flex-flow: column nowrap;
	}
	.info:nth-child(2)  {
		margin-top: 50px;
	}

	.info:nth-child(3) {
		margin-top: 50px;	
	}

	#flex-words {
		width: 90%;
		margin-bottom: 50px;
	}
	.more-info {
		margin-top: 0px;
	}

	.box {
		height: 900px;
	}
	#directions {
		margin-top: 400px;
	}

	.unit-deals div {
		-ms-transform: scale(.9, .9); /* IE 9 */
		-webkit-transform: scale(.9, .9); /* Safari */
		transform: scale(.9, .9);
	}

	.contact-dividor {
		flex-flow: column nowrap;
		height: 400px;
	}

	
}

@media only screen and (max-width: 768px) {
	#info span {
		display: none;
	}
	#map {
		margin-left: -41px;
	}
}


@media only screen and (min-width: 1050px) {
	#info {
		margin: 70px;
	}
}

@media only screen and (max-width: 425px) {
	#directions {
		flex-flow: column nowrap;
	}
	#dInput {
		width: 90%;
		margin-right: 12px;
	}
	#dButton {
		width: 93%;
		margin-top: 8px;
	}
}

@media only screen and (max-width: 1000px) {
	#info span {
		margin:10px;
		text-align: left;
	}

	#right a {
		display: none;
	}
	#right input {
		display: inline-block;
	}
	#right {
		float: none;
	}
}


@media only screen and (max-width: 550px) {
	.unit-deals div {
		margin: 10px;
		height: 115px;
	}
	.unit-deals div h1 {
		font-size: 30px;
	}
	.unit-deals div h2 {
		font-size: 20px;
	}
	.unit-deals div h3 {
		font-size: 13px;
	}
	.unit-deals small {
		display: none;
	}
	#flex-words a {
		font-size: 22px;
		padding: 10px 20px;
	}
	#flex-words h1 {
		font-size: 40px;
	}
	#flex-words h2 {
		font-size: 22px;
	}
	.unit-deals {
		height: 250px;
	}
}