
* {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.head {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: rgba(255,255,255, .94);
	height: 75px;
	z-index: 98;
}

#nav {
	margin: auto;
	width: 55%;
	min-width: 1000px;
	z-index: 99;
}

#logo {
	padding: 10px;

}

#right {
	float: right;
}

span a {
	padding: 20px;
	text-decoration: none;
	color: gray;
	padding: 22px;
	font-size: 20px;
	position: relative;
	top: 25px;
}

#orange:hover {
	color: #ffaa21;
}
#green:hover {
	color: #74ab85;
}
#purple:hover {
	color: #8466c2;
}
#red:hover {
	color: #db332f;
}


section {
	height: 200vh;
	width: 99.84%;
}

.summary {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
	height: 300px;
	margin-top: 75px;
	background-image: url("../images/yellowParticles.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

#flex-words {
	width: 85%;
	margin-bottom: 50px;
}

#flex-words h1 {
	font-size: 45px;
	margin: 15px;
	font-weight: normal;
}

#flex-words p {
	font-size: 18px;
}

.box-container {
	height: 30%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.box {
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: relative;
}
 .box1 {
 	height: 100%;
	width: 50%;	
 }

 .text-align {
 	width: 80%;
 	margin-top: 40px;
 	margin: auto;
 }

 .text-align h3 {
 	font-style: italic;
 }

 #one {
 	background-image: url("../images/security.jpg");
 	background-size: cover;
 	background-position: center;
 }
 #two {
 	background-image: url("../images/convienence.jpg");
 	background-size: cover;
 	background-position: center;
 }
 #three {
 	background-image: url("../images/focus2.png");
 	background-size: cover;
 	background-position: center;
 }


 .corner-left {
 	position: absolute;
 	bottom: 0px;
 	right: 0px;
 	z-index: -1
 }

 .corner {
 	position: absolute;
 	bottom: 0px;
 	left: 0px;
 	z-index: -1;
 }

 /* reviews + contact for each page  */


#bottom {
	width: 100%;
	height: 92vh;
}

#reviews {
	position: relative;
	width: 100%;
	height: 45%;
	background-image: url("https://i.gyazo.com/c66d5af489cabc486ad0ddac2610b2ba.png");
    background-repeat: no-repeat;
    background-size: cover; 
	border: 1px solid #71a9ad;
}



#contact {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45%;
	background-color: #222222;
	border: 1px solid #555555;
}

#first {
	margin-bottom: 20px;
}

#info {
	display: flex;
	flex-flow: column nowrap;
	margin: 70px;
	text-align: center;
	color: white;
	font-size: 18px;
}

#info span {
	margin: 20px;
}

#directions {
	width: 420px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	color: white;
	background-color: #71a9ad;
	border: none;
}


.review1 {
	margin: auto;
	width: 55%;
	height: 100%;
	background-image: url("https://i.gyazo.com/8483bb52245081b7db740ff9fe5002bf.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.review2 {
	margin: auto;
	width: 55%;
	height: 100%;
	background-image: url("https://i.gyazo.com/d59a2787c932dbbb9a162b9c4fe0c858.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.review3 {
	margin: auto;
	width: 55%;
	height: 100%;
	background-image: url("../images/transparent1.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.review4 {
	margin: auto;
	width: 55%;
	height: 100%;
	background-image: url("https://i.gyazo.com/98f1e0028fe6e649fd41e93dfc3ffbf5.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.review5 {
	margin: auto;
	width: 55%;
	height: 100%;
	background-image: url("../images/transparent1.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#review-img {
	width:250px;
	height: 250px;
	background-image: url("http://waterfordpanel.com.au/writegooglereview.png");
	background-size: cover;
 	background-position: center;
 	overflow: visible;
 	cursor: pointer; 
}

 #gmap_canvas img {
      max-width: none !important;
      background: none !important
    }

 #footer {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color: #b3b3b3;
 	width: 100%;
 	height: 10%;
 	background-color: #333333;
 	border: 1px solid #333333;
 }

 #flex-contact {
 	position: relative;
 	width: 100%;
 }

 #contact-center {
 	position: relative;
 	width: 40%;
 	margin: auto;
 	top:75px;
 }



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
    .text-align h1 {
    	margin-top: 100px;
    	margin-bottom: 10px;
    	font-size: 40px;
    	color: #333;
    }
    .text-align h3 {
    	margin-top: 0px;
    	font-size: 23px;
    	color: #666;
    }
    .text-align li {
    	line-height: 50px;
    	font-size: 19px;
    	color: #666;
    }
}

@media only screen and (min-width: 1000px) {
	#flex-words {
		width: 60%;
	}

}